<ion-header >
  <ion-toolbar >
    <ion-title >
      <label><ion-icon name="bulb"></ion-icon> Iluminate </label>
      <ion-chip >
        <ion-label><label><ion-icon id="rankingInit" name="trophy"></ion-icon> 2000</label></ion-label>
        <ion-avatar>
          <img src="../../assets/icon/guts.jpg">
        </ion-avatar>
      </ion-chip>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-pading-top">
  <ion-avatar class="avatar">
    <img src="../../assets/icon/guts.jpg">
  </ion-avatar>
  <div class="ion-padding-top"></div>
  <div class="ion-padding">
    <h3> NickName: {{usuario.username}}</h3>
    <h3> Korreoa: {{mail}}</h3>
  </div>
<div class="text">
  <div class="ion-padding">
    <ion-button color="tertiary" (click)="pickImage()"  type="ion-button" class="ion-no-margin">Foto</ion-button>
  </div>
<div class="ion-padding">
  <ion-button color="tertiary" (click)="change()"  type="ion-button" class="ion-no-margin">Aldatu pasahitza</ion-button>
</div>
<div class="ion-padding">
  <ion-button color="danger" (click)="logOut()"  type="ion-button" class="ion-no-margin">Itxi saioa</ion-button>
</div>
</div>
</div>
<!-- <div class="page">
  <div class="page__container">
    <article class="profile">
      <header class="profile__header">
        <img src="http://stas-melnikov.ru/cliparts/stas.jpg" class="profile__avatar" alt="avatar of Stas Melnikov">
        <h3 class="profile__name">{{usuario.username}}</h3>
        <span class="profile__post">{{mail}}</span>
      </header>
      <div class="profile__stats">
        <div class="profile__group">
          <span class="profile__value">85%</span>
          <span class="profile__param">HTML</span>
        </div>
        <div class="profile__group">
          <span class="profile__value">90%</span>
          <span class="profile__param">CSS</span>
        </div>          
        <div class="profile__group">
          <span class="profile__value">85%</span>
          <span class="profile__param">Web-Design</span>
        </div>          
        <div class="profile__group">
          <span class="profile__value">98%</span>
          <span class="profile__param">Animation</span>
        </div>        
        <div class="profile__group">
          <span class="profile__value">52%</span>
          <span class="profile__param">Javascript</span>
        </div>        
        <div class="profile__group">
          <span class="profile__value">10%</span>
          <span class="profile__param">PHP</span>
        </div>                      
      </div>
     
    </article>
  </div>
</div> -->
</ion-content>

