<ion-header>
  <ion-toolbar>
    <ion-title>
      <label id="titulo">
        <img id="logo"src="./assets/icon/bonbilla.png">  Illuminate
      </label> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="ion-pading-top">
    <ion-fab  vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="getImage()" color="light" routerDirection="forward">
        <ion-icon name="image"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-avatar class="avatar">
      <img src={{myphoto}}>
    </ion-avatar>
    <div class="ion-padding-top"></div>
    <div class="ion-padding">
      <h3> NickName: {{usuario.username}}</h3>
      <h3> Korreoa: {{mail}}</h3>
    </div>
    <div class="text">
      <ion-button ion-button (click)="upload()" *ngIf="captureDataUrl">Upload to Firebase!</ion-button>
      <div class="ion-padding">
        <ion-button color="tertiary" (click)="change()" type="ion-button" class="ion-no-margin">Aldatu pasahitza
        </ion-button>
      </div>
      <div class="ion-padding">
        <ion-button color="danger" (click)="logOut()" type="ion-button" class="ion-no-margin">Itxi saioa</ion-button>
      </div>
    </div>
  </div> -->
  <div class="page">
  <div class="page__container">
    <article class="profile">
      <header class="profile__header">
        <ion-fab  vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button (click)="getImage()" color="light" routerDirection="forward">
            <ion-icon name="image"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <img src={{myphoto}} class="profile__avatar">
        <h3 class="profile__name">{{usuario.username}}</h3>
        <span class="profile__post">{{mail}}</span>
      </header>
          <ion-button ion-button (click)="upload()" *ngIf="captureDataUrl">Upload to Firebase!</ion-button>
          <div class="ion-padding">
            <ion-button color="tertiary" (click)="change()" type="ion-button" class="ion-no-margin ion-text-center" >Aldatu pasahitza &nbsp;<ion-icon name="refresh"></ion-icon>
            </ion-button>
          </div>
          <div class="ion-padding">
            <ion-button color="medium" (click)="logOut()" class="ion-no-margin">Itxi saioa &nbsp;<ion-icon name="log-out"></ion-icon></ion-button>
          </div>
     
    </article>
  </div>
</div>
</ion-content>