<ion-header >
  <ion-toolbar >
    <ion-title >
      <label><ion-icon name="bulb"></ion-icon> Iluminate </label>
      <ion-chip>
        <ion-label><label><ion-icon id="rankingInit" name="trophy"></ion-icon> 2000</label></ion-label>
        <ion-avatar>
          <img src="../../assets/icon/guts.jpg">
        </ion-avatar>
      </ion-chip>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid *ngFor="let ran of ranking; let i = index">
  <ion-row>
    <ion-col>
      <div>
        {{ i + 1 }} {{ran.username}}
      </div>
    </ion-col>
    <ion-col>
      <div>
        {{ran.puntuacionS}}
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-list *ngFor="let ran of ranking">
  <ion-item>
    <label>{{ran.username}}</label>
    <label>{{ran.puntuacionS}}</label>
  </ion-item>
</ion-list>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/details" routerDirection="forward">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab> 
</ion-content>