<ion-header >
  <ion-toolbar >
    <ion-title >
      <label><ion-icon name="bulb"></ion-icon> Iluminate </label>
      <ion-chip>
        <ion-label><label><ion-icon id="rankingInit" name="trophy"></ion-icon> 2000</label></ion-label>
        <ion-avatar>
          <img src="../../assets/icon/guts.jpg">
        </ion-avatar>
      </ion-chip>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <ion-grid *ngFor="let ran of ranking; let i = index">
  <ion-row>
    <ion-col>
      <div>
        {{ i + 1 }} {{ran.username}}
      </div>
    </ion-col>
    <ion-col>
      <div>
        {{ran.puntuacionS}}
      </div>
    </ion-col>
  </ion-row>
</ion-grid> -->

<div class="center" >
  <div class="top3">
    <div *ngFor="let ran of ranking; let i = index" >
    <div class="two item"  *ngIf="i==1">
      <div class="pos">
        {{ i + 1 }}
      </div>
      <div class="pic" style="background-image: url(&#39;https://randomuser.me/api/portraits/men/44.jpg&#39;)"></div>
      <div class="name">
        {{ran.username}}
      </div>
      <div class="score">
        {{ran.puntuacionS}}
      </div>
    </div>
    <div class="one item"   *ngIf="i==0">
      <div class="pos">
        {{ i + 1 }}
      </div>
      <div class="pic" style="background-image: url(&#39;https://randomuser.me/api/portraits/men/31.jpg&#39;)"></div>
      <div class="name">
        {{ran.username}}
      </div>
      <div class="score">
        {{ran.puntuacionS}}
      </div>
    </div>
    <div class="three item" *ngIf="i==2">
      <div class="pos">
        {{ i + 1 }}
      </div>
      <div class="pic" style="background-image: url(&#39;https://randomuser.me/api/portraits/women/91.jpg&#39;)"></div>
      <div class="name">
        {{ran.username}}
      </div>
      <div class="score">
        {{ran.puntuacionS}}
      </div>
    </div>
  </div>
  </div>
  <div class="list" *ngFor="let ran of ranking; let i = index">
    <div *ngIf="i>=3">
    <div class="item">
      <div class="pos">
        {{ i + 1 }}
      </div>
      <div class="pic" style="background-image: url(&#39;https://randomuser.me/api/portraits/men/88.jpg&#39;)"></div>
      <div class="name">
        {{ran.username}}
      </div>
      <div class="score">
        {{ran.puntuacionS}}
      </div>
  </div>
  </div>
</div>
</div>
</ion-content>