<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="bulb"></ion-icon> Iluminate
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1>Main Content hau informzio random da admakdajdajdajdisjdisfjiasdjfiadfjadif</h1>
  </div>
  <ion-list>
    <ion-item-sliding *ngFor="let todo of todos"> 
      <ion-item lines="insert" button [routerLink]="['/details',todo.id]">
        <ion-label>
          {{todo.nombre}}
        </ion-label>
      </ion-item>
      
    </ion-item-sliding>
  </ion-list>
</ion-content>

