.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.ion-text-left {
  text-align: left;
}
.ion-text-right {
  margin-left: auto;
}

#deskripzio
{
  border:1px solid #5a025a;
  background-color: rgba(0, 0, 0, 0.671);
  width: 90%;
  margin:5%;
  border-radius:25px;
}

#jokatu{
  width:80%;
  height: 50px;
  margin-top: -8%;
  position: absolute;
  color: black;
	position: absolute;
	border-radius: 3.75rem;
	line-height: 2.5rem;
	font-size: 2rem;
	font-weight: 600;
	
	border: 1px solid #012880;
	background-image: linear-gradient(-180deg, #FF89D6 0%, #C01F9E 100%);
	box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
							0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
							0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
							0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
  
  
}

#instrukzio{
  width:80%;
  margin-left: 10%;
  height: 25px;
  margin-top: 5%;
}


.ion-pading-top{
  padding-top: 20px;
}

.irudi{
  width: 100%;
  height: 500px;
  margin-top: -5%;

  }


  .centro{
    text-align: center;
    position: absolute;
    margin-left: 28%;
    background-color: rgb(241, 138, 21);
    width:40%;
    height: 50px;
    border-radius: 25px;
  }

  #info{
    margin-top: 51%;
    margin-left: 46%; 
  position: absolute;}

