<ion-header >
  <ion-toolbar >
    <ion-title >
      <label><ion-icon name="bulb"></ion-icon> Iluminate </label>
      <ion-chip>
        <ion-label><label><ion-icon id="rankingInit" name="trophy"></ion-icon> 2000</label></ion-label>
        <ion-avatar>
          <img src="../../assets/icon/guts.jpg">
        </ion-avatar>
      </ion-chip>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
   <!-- <div id="deskripzio" class="ion-padding"> -->
    <!-- <h1>Ongi Etorri Iluminate app-era, JOKATU aukeratu eta hasi.</h1> -->
    <!-- <ion-button id="jokatu" color="warning" shape="round" href="partida" expand="block" type="ion-button" class="ion-no-margin">Jokatu</ion-button>
    <ion-button id="instrukzio" shape="round" href="partida" expand="block" type="ion-button" class="ion-no-margin">Instrukzioak</ion-button>
  </div>  -->
  <div class="ion-padding">
    <label></label>
    <!-- <ion-button shape="round" href="partida" expand="block" type="ion-button" class="ion-no-margin">Jokatu</ion-button> -->
  </div>
  <ion-slides>
    <h3 class="ion-text-center centro"> Asteko Gaia </h3>
    <ion-slide>
      <img class="irudi" src="assets/icon/anim.jpg">
    </ion-slide>
    <h3 id="texti" class="ion-text-center centro"> Animaliak </h3>
    <ion-slide>
      <h3>Asteko saria</h3>
    </ion-slide>
    <ion-slide>
      <h3>Jokalari onenak </h3>
    </ion-slide>
  </ion-slides>
  <div class="centri">
  <ion-button id="jokatu" color="danger" shape="round" (click)="jokatu()" expand="block" type="ion-button" class="ion-no-margin"><span>Jokatu</span></ion-button>
  <ion-button id="hard" color="danger" shape="round" href="partida" expand="block" type="ion-button" class="ion-no-margin"><span>Hardcore</span></ion-button>
  <ion-icon id="info" name="information-circle"></ion-icon>
</div>
</ion-content >
