<ion-header>
  <ion-toolbar>
    <ion-title>
      <label id="titulo">
        <img id="logo"src="./assets/icon/bonbilla.png">  Illuminate
      </label> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
   <!-- <div id="deskripzio" class="ion-padding"> -->
    <!-- <h1>Ongi Etorri Iluminate app-era, JOKATU aukeratu eta hasi.</h1> -->
    <!-- <ion-button id="jokatu" color="warning" shape="round" href="partida" expand="block" type="ion-button" class="ion-no-margin">Jokatu</ion-button>
    <ion-button id="instrukzio" shape="round" href="partida" expand="block" type="ion-button" class="ion-no-margin">Instrukzioak</ion-button>
  </div>  -->
  <div class="ion-padding">
    <label></label>
    <!-- <ion-button shape="round" href="partida" expand="block" type="ion-button" class="ion-no-margin">Jokatu</ion-button> -->
  </div>
  <div>
    <!-- <h3 id="textu" class="ion-text-center centro"> Asteko Gaia </h3> -->
    <div>
      <svg viewBox="0 0 500 500">
        <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" />
        <text id="a"width="500">
          <textPath xlink:href="#curve">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ASTEKO GAIA
          </textPath>
        </text>
      </svg>
      <img class="tema" src={{imagen}}>
      
      
    </div>
    <h3 id="texti" class="ion-text-center centro"> {{categoria}} </h3>
   
  </div>

  <div class="centri">
    
  <button id="jokatu" class="boton" shape="round" (click)="jokatu()"  ><span>Jokatu</span></button>
  <button id="hard" color="danger" shape="round" href="partida" ><span>Hardcore</span></button>
  <ion-icon id="info" name="information-circle"></ion-icon>
</div>
</ion-content >
