.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.ion-text-left {
  text-align: left;
}
.ion-text-right {
  margin-left: auto;
}

#deskripzio
{
  border:1px solid #5a025a;
  background-color: rgb(192, 192, 192);
  width: 90%;
  margin:5%;
  box-shadow: 5px 10px #747474;
  border-radius:25px;
}

#jokatu{
  width:80%;
  margin-left: 10%;
  height: 50px;
}

#instrukzio{
  width:80%;
  margin-left: 10%;
  height: 25px;
  margin-top: 5%;
}


.ion-pading-top{
  padding-top: 20px;
}