.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}


.ion-text-left {
  text-align: left;
}

.ion-text-right {
  margin-left: auto;
}

#deskripzio
{
  border:1px solid #5a025a;
  background-color: rgb(192, 192, 192);
  width: 80%;
  margin:10%;
  box-shadow: 5px 10px #747474;
  border-radius:25px;
}

ion-button{
  width:60%;
  margin-left: 20%;
  border-radius: 15px;
}