<ion-header>
  <ion-toolbar>
    <ion-title>
      <label>
        <ion-icon name="bulb"></ion-icon> Iluminate
      </label>
      <ion-chip>
        <ion-label><label>
            <ion-icon id="rankingInit" name="trophy"></ion-icon> 2000
          </label></ion-label>
        <ion-avatar>
          <img src="../../assets/icon/guts.jpg">
        </ion-avatar>
      </ion-chip>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div *ngFor="let grupo of groupIzen">
    {{grupo}}
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerDirection="forward">
      <ion-icon  name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="createGroup()">
        <ion-icon  name="create"></ion-icon>
      </ion-fab-button>
      
      <ion-fab-button (click)="insertGroup()">
        <ion-icon  name="person-add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>