<ion-header >
  <ion-toolbar >
    <ion-title >
      <label><ion-icon name="bulb"></ion-icon> Iluminate </label>
      <ion-chip>
        <ion-label><label><ion-icon id="rankingInit" name="trophy"></ion-icon> 2000</label></ion-label>
        <ion-avatar>
          <img src="../../assets/icon/guts.jpg">
        </ion-avatar>
      </ion-chip>
    </ion-title>
  </ion-toolbar>
</ion-header>
<button (click)="getPosts()">Funcionará?</button>
<ion-content>


<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/details" routerDirection="forward">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab> 
</ion-content>
