<ion-header>
  <ion-toolbar>
    <ion-title>Partida</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-slides #slides>

      <label>{{t}}</label>

      <ion-slide>
        <ion-item>
          <h3>{{preguntas[getIndex()].pregunta}}</h3>
        </ion-item>
        <ion-list>
          <ion-item-sliding> 
            <ion-item *ngFor="let res of final">
              <ion-button (click)="updateIndex()" >
                {{res}}
              </ion-button>
            </ion-item>
          </ion-item-sliding>
        </ion-list>

      </ion-slide>

  </ion-slides>

</ion-content>