<ion-header>
  <ion-toolbar>
    <ion-title>Partida</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-slides #slides>

      <ion-slide>

          

          <h3>What is this?</h3>

          <ion-list no-lines radio-group>

              <ion-item>

                  <ion-label>1. Helicopter</ion-label>

              </ion-item>

              <ion-item>

                  <ion-label>2. Truck</ion-label>

              </ion-item>

              <ion-item>

                  <ion-label>3. Plane</ion-label>

              </ion-item>

          </ion-list>

      </ion-slide>

  </ion-slides>

</ion-content>