#timer
{
    font-size: 15vmin;
    text-align: center;
}

#respuesta
{
    min-width: 50%;
    font-family: "helvetica neue thin";
}

#pregunta
{
    font-family: "helvetica neue bold";
}

#deskripzio
{
  border:1px solid #5a025a;
  background-color: #AF75EB;
  width: 90%;
  margin:5%;
  box-shadow: 5px 10px #5a025a;
  border-radius:25px;
}

.boton{
width: 80%;
}